@page "/chargen"
@using System.Text
@using BlazorSite2.Client.Shared.CharacterElements
@using BlazorSite2.Shared
@using BlazorSite2.Shared.Arklens
@inject IJSRuntime JS

<PageTitle>Персонажи</PageTitle>

<div>
	<button @onclick=@PrevTab>⏪</button>
	@for (int i = MinTab; i < tab; i++)
	{
		<span>@i</span>
	}
	<span style="font-size: 18px; color: seagreen"><u>@tab</u></span>
	@for (int i = tab + 1; i <= MaxTab; i++)
	{
		<span>@i</span>
	}
	<button @onclick=@NextTab>⏩</button>
</div>
@switch (tab)
{
	case 1:
		<NameGenderComponent Character=@character />
		break;
	case 2:
		<RaceComponent Character=@character />
		break;
	case 3:
		<ClassComponent Character=@character />
		break;
	case 4:
		<AlignmentComponent Character=@character />
		break;
	case 5:
		<StatCalculatorComponent Character=@character TotalPoints=44 />
		break;
	case 6:
		<CustomPortraitComponent Character=@character />
		break;
	case 7:
		<SkillsComponent Character=@character />
		break;
}

<p>
	<SvgComponent Character=@character />
</p>

@code {
	private Character character = new();

	private const int MinTab = 1;
	private const int MaxTab = 7;

	private int tab = 1;

	private void NextTab() => tab = Math.Min(tab + 1, MaxTab);
	private void PrevTab() => tab = Math.Max(tab - 1, MinTab);
	private void JumpTo(int newTab) => tab = newTab is >= MinTab and <= MaxTab ? newTab : tab;
}