@page "/chargen"
@using System.Text
@using BlazorSite2.Client.Shared.CharacterElements
@using BlazorSite2.Shared
@using BlazorSite2.Shared.Arklens

<h3>Генератор персонажей</h3>

<p>
	<NameGenderComponent Character=@character></NameGenderComponent>
</p>

<p>
	<RaceComponent Character=@character></RaceComponent>
</p>

<p>
	<ClassComponent Character=@character></ClassComponent>
</p>

<p>
	<AlignmentComponent Character=@character></AlignmentComponent>
</p>

<p>
	<StatCalculatorComponent Character=@character TotalPoints=44></StatCalculatorComponent>
</p>

<p>
	<SvgComponent Character=@character></SvgComponent>
</p>

@code {
	private Character character = new();
}



