@using BlazorSite2.Shared.Arklens;
@using Un1ver5e.Web.III.Shared;
@inherits CharacterComponentBase

<select @onchange=@SetRace>
	<option selected disabled hidden>Выберите расу</option>
	@foreach(Race race in Race.All)
	{
		<option value=@race.Name>@race.ToString()</option>
	}
</select>
@if(Character.Race == Race.Human)
{
	<select @onchange=@SetHumanBonus>
		<option selected disabled hidden>Выберите бонус @Race.Human.Emoji</option>
		@foreach (Stat stat in Character.EnumerateStats())
		{
			<option value=@stat.Name>@stat.ToString()</option>
		}
	</select>
}

@code {
	private void SetRace(ChangeEventArgs e) 
	=> Character.Race = Race.All.GetByName(e.Value as string);

	private void SetHumanBonus(ChangeEventArgs e)
	=> Character.EnumerateStats().GetByName(e.Value as string)!.RaceAmplified = true;
}
