@using System.Text;
@using BlazorSite2.Shared.Arklens;
@using System.Text.RegularExpressions;
@using System.Reflection;
@using Un1ver5e.Web.III.Shared;
@inject IJSRuntime JS
@inject HttpClient Http
@inherits CharacterComponentBase

<button @onclick=@DownloadSvg disabled=@(characterSvg is null)>📲 сохранить</button>
<br />
@((MarkupString)(characterSvg ?? "<p>🕐...</p>"))

@code {
	private string? rawSvg;
	private string? characterSvg;

	protected override void OnInitialized()
	{
		rawSvg = Encoding.UTF8.GetString(Properties.Resources.CharacterFront);

		_ = ReloadSvg();

		Character.PropertyChanged += (_, e) =>
		{
			if (e.PropertyName is
			nameof(Character.Race) or
			nameof(Character.Gender) ||
			Character.Portrait is null)
			{
				TryUpdatePortrait();
			}
		};
		Character.PropertyChanged += async (_, _) => await ReloadSvg();
	}

	#region Buttons
	private Task ReloadSvg()
	=> Task.Run(() =>
	{
		characterSvg = FillSvgFile(rawSvg ?? string.Empty);
		this.StateHasChanged();
	});

	private async Task DownloadSvg()
	{
		using var stream = new MemoryStream(Encoding.UTF8.GetBytes(characterSvg ?? string.Empty));
		string fileName = $"{Character.Name}.AL.svg";

		using var streamRef = new DotNetStreamReference(stream);
		await JS.InvokeAsync<IJSObjectReference>("import", "./js/site.js");
		await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
	}
	#endregion

	#region SvgGen
	private string GetRegexText(Match match)
	{
		object? value = match.Value switch
		{
			"{STR}" => Character.Stats.Str.DisplayValue,
			"{DEX}" => Character.Stats.Dex.DisplayValue,
			"{CON}" => Character.Stats.Con.DisplayValue,
			"{INT}" => Character.Stats.Int.DisplayValue,
			"{WIS}" => Character.Stats.Wis.DisplayValue,
			"{CHA}" => Character.Stats.Cha.DisplayValue,

			"{STR+}" => Character.Stats.Str.DisplayMod.AsMod(),
			"{DEX+}" => Character.Stats.Dex.DisplayMod.AsMod(),
			"{CON+}" => Character.Stats.Con.DisplayMod.AsMod(),
			"{INT+}" => Character.Stats.Int.DisplayMod.AsMod(),
			"{WIS+}" => Character.Stats.Wis.DisplayMod.AsMod(),
			"{CHA+}" => Character.Stats.Cha.DisplayMod.AsMod(),

			"{RACE}" => Character.Race,
			"{RACETRAIT1}" => Character.Race?.Traits?[0],
			"{RACETRAIT2}" => Character.Race?.Traits?[1],
			"{CLASS}" => Character.Class,
			"{SUBCLASS}" => Character.Subclass,
			"{HPGAIN}" => Character.HpGain,
			"{SKILLS}" => Character.SkillGain,
			"{GENDER}" => Character.Gender,
			"{NAME}" => Character.Name,
			"{ALIGNMENT}" => Character.Alignment,
			"{PORTRAIT}" => Character.Portrait?.Base64,
			_ => null,
		};
		return value?.ToString() ?? string.Empty;
	}

	public string FillSvgFile(string rawSvg)
		=> Regex.Replace(rawSvg, "{.*?}", GetRegexText);
	#endregion

	#region Portraits
	private void TryUpdatePortrait()
	{
		if (Character.Portrait is null || Character.Portrait.IsCustom is false)
			Character.Portrait = GetPortrait();
	}

	private Portrait? GetPortrait()
	{
		if (Character.Race is null || Character.Gender is null)
			return null;

		string fileName = $"{Character.Race.Name}.{Character.Gender.Name[0]}";

		if (Character.Portrait?.FileName == fileName)
			return Character.Portrait;

		var data = (byte[])Properties.Resources.ResourceManager.GetObject(fileName)!;
		return new Portrait(fileName, data, false);
	}
	#endregion
}
